<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Parken in Amsterdam</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-img [src]="'https://routemaker.routemaker.nl/content/img/5057/img-r0x0x4032x3024-T900x900.jpg'"></ion-img>

    <ion-item style="margin-top: 8px">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>

      <div>
        <ion-card-title>Parken in Amsterdam</ion-card-title>
        <ion-card-subtitle>x x x x x 5.0 / (128 reviews)</ion-card-subtitle>
      </div>
    </ion-item>

    <ion-card-content>
      <strong>Introductietekst</strong>
      <p>Ontdek de parken van Amsterdam. In deze route kom je er 7 tegen. De route gaat ook langs prachtige kades en de
        Keizersgracht en de Brouwersgracht.</p>
      <br />
      <strong>Praktische informatie</strong>
      <p>Het terrein is goed toegankelijk.</p>
    </ion-card-content>
  </ion-card>
</ion-content>