<ion-header>
	<ion-toolbar color="primary">
		<ion-title class="ion-text-center">
			DOVA Dris scanner
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen  class="ion-text-center">
	<ion-list-header>
		<ion-label >
			Er zijn meerdere drissen gevonden op deze locatie. Kies hieronder de juiste.
		</ion-label>
	</ion-list-header>
	<ion-list *ngFor="let dris of drisses">
		<ion-item>
			<ion-label class="ion-text-center" (click)="clickDris(dris)">{{dris.dris_id}} - {{dris.displaynaam}} - {{dris.opmerkingen}}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
