<ion-header>
	<ion-toolbar color="primary">
		<ion-title class="ion-text-center">
			DOVA Dris scanner
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<!-- Fallback for iOS PWA -->
<!--	<input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">-->

	<br/>

	<ion-button expand="full" (click)="startScan()">
		<ion-icon slot="start" name="camera"></ion-icon>
		<ion-icon slot="start" name="qr-scanner"></ion-icon>
		QR-scanner openen
	</ion-button>

	<!-- Trigger the file input -->
	<ion-button expand="full" (click)="captureImage()">
		<ion-icon slot="start" name="camera"></ion-icon>
		Foto van QR-code uploaden
	</ion-button>

	<ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
		<ion-icon slot="start" name="refresh"></ion-icon>
		Reset
	</ion-button>

	<!-- Shows our camera stream -->
	<video #video [hidden]="!scanActive" width="100%"></video>

	<!-- Used to render the camera stream images -->
	<canvas #canvas hidden></canvas>

	<!-- Stop our scanner preview if active -->
	<ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
		<ion-icon slot="start" name="close"></ion-icon>
		Stop scan
	</ion-button>

	<br/>
	<br/>

<!--	<ion-item lines="full" class="ion-text-center visibleText">-->
<!--		<ion-label>Dris: {{this.dris_id}}</ion-label>-->
<!--	</ion-item>-->

	<ion-item lines="full" class="ion-text-center visibleText">
<!--		<ion-label position="floating">Qr code</ion-label>-->
		<ion-input type="text" [(ngModel)]="scanResult" placeholder="1234"></ion-input>
	</ion-item>

	<br/>
	<br/>

	<ion-button expand="block" (click)="addCodeToDris()">Koppel code aan halte</ion-button>

</ion-content>
