<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title class="ion-text-center">
			DOVA Dris scanner
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-header collapse="condense">
	<ion-toolbar>
	  <ion-title size="large">Meer</ion-title>
	</ion-toolbar>
  </ion-header>

	<ion-row>
		<ion-col>
			<ion-button (click)="logout()" color="primary" expand="block">Uitloggen</ion-button>
			<ion-button [routerLink]="['/password']" color="primary" expand="block">
				Wachtwoord wijzigen
			</ion-button>
		</ion-col>
	</ion-row>

</ion-content>
