<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Inloggen bij de DOVA Dris scanner</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-card lines="full">
            <ion-label position="floating">E-mailadres</ion-label>
            <ion-input formControlName="username" type="email"
                       placeholder="Voer uw e-mailadres in.."
                       autocomplete="username"></ion-input>
            <p class="help is-danger"
               *ngIf="controls.username.errors?.required && controls.username.touched">Dit veld
                is verplicht</p>
            <p class="help is-danger"
               *ngIf="controls.username.errors?.email && controls.username.touched">Dit is geen
                geldig e-mailadres</p>
        </ion-card>

        <ion-card lines="full">
            <ion-label position="floating">Wachtwoord</ion-label>
            <ion-input formControlName="password" type="password"
                       placeholder="Voer uw wachtwoord in.."
                       autocomplete="current-password"></ion-input>
            <p class="help is-danger"
               *ngIf="controls.password.errors?.required && controls.password.touched">Dit veld
                is verplicht</p>
        </ion-card>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block">Inloggen</ion-button>
                <ion-button [routerLink]="['/password-reset']" color="primary" expand="block">
                    Wachtwoord vergeten?
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
