<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Wachtwoord herstellen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-card lines="full">
            <ion-label position="floating">E-mailadres</ion-label>
            <ion-input placeholder="Uw e-mailadres" formControlName="email" type="email"
                       autocomplete="username"></ion-input>
            <p class="help is-danger" *ngIf="controls.email.errors?.required && controls.email.touched">
                Dit veld is verplicht
            </p>
            <p class="help is-danger" *ngIf="controls.email.errors?.email && controls.email.touched">
                Dit is geen geldig e-mailadres
            </p>
        </ion-card>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block">Bevestigen</ion-button>
<!--                <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>-->
            </ion-col>
        </ion-row>
    </form>
</ion-content>
