<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="bus-outline"></ion-icon>
      <ion-label>Uitleg</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>Kaart</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="tab1">-->
<!--      <ion-icon name="list-circle-outline"></ion-icon>-->
<!--      <ion-label>Dris</ion-label>-->
<!--    </ion-tab-button>-->

    <ion-tab-button tab="tab3">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Meer</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
