<ion-header [translucent]="false">
	<ion-toolbar color="primary">
		<ion-title class="ion-text-center">
			DOVA Dris scanner
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<div id="main-map" class="map"></div>


	<ion-fab vertical="bottom" horizontal="start" slot="fixed">

		<ion-fab-button>
			<ion-icon name="locate" (click)="goToLocation()"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
