<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Parken in Amsterdam</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-img [src]="'https://routemaker.routemaker.nl/content/img/5057/img-r0x0x4032x3024-T900x900.jpg'"></ion-img>

    <ion-card-header>
      <ion-card-title>Parken in Amsterdam</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Het Westerpark is een park in Amsterdam-West, ten westen van de Haarlemmerpoort en ten noorden van de
      Haarlemmertrekvaart. De aanleg van het park startte in 1890. Voordien lag hier van 1842 tot 1878 het station
      Willemspoort en diens emplacement vanwaar de treinen naar Haarlem vertrokken.
    </ion-card-content>
  </ion-card>
</ion-content>