<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Wachtwoord wijzigen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="passwordForm" (ngSubmit)="submit()">
        <ion-card lines="full">
            <ion-label position="floating">Nieuw Wachtwoord</ion-label>
            <ion-input formControlName="password" type="password"
                       placeholder="Voer uw wachtwoord in.."
                       autocomplete="current-password"></ion-input>
            <p class="help is-danger"
               *ngIf="controls.password.errors?.required && controls.password.touched">Dit veld
                is verplicht en moet tenminste 8 karakters lang zijn</p>
        </ion-card>

        <ion-card lines="full">
            <ion-label position="floating">Wachtwoord Opnieuw</ion-label>
            <ion-input formControlName="password_repeat" type="password"
                       placeholder="Voer uw wachtwoord in.."
                       autocomplete="current-password"></ion-input>
            <p class="help is-danger"
               *ngIf="controls.password_repeat.errors?.required && controls.password_repeat.touched">Dit veld
                is verplicht</p>
            <p class="help is-danger" *ngIf="controls.password_repeat.errors?.equal && controls.password_repeat.touched">
                Wachtwoorden komen niet overeen
            </p>
        </ion-card>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block">Opslaan</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
