<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">
            DOVA Dris scanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
            <ion-img src="../../assets/img/login-dddtool.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title>Stap 1: U staat bij de dris</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Als deze dris nog geen qr-code sticker heeft dan plaatst u deze op de dris.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="../../assets/img/kaart.png"></ion-img>
		<ion-card-header>
			<ion-card-title>Stap 2: Zoek de halte op de kaart</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Ga naar de kaart en zoom in op uw locatie. Hiervoor kunt u de gps functie gebruiken door locatievoorzieningen aan te zetten en op de knop linksonder te drukken.
			Klik op de halte waar het om gaat.
		</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-img src="../../assets/img/61336.jpg"></ion-img>
		<ion-card-header>
			<ion-card-title>Stap 3: Qr code scannen</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Met de app kunt u de qr-code op de dris scannen. Als dat niet lukt dan kunt u ook een foto maken en deze uploaden. Als dat ook niet lukt kunt u altijd nog de code overtypen.
			Als de code goed is overgenomen dan kan deze gekoppeld worden aan de halte.
		</ion-card-content>
    </ion-card>
</ion-content>
